Package: hatchcert
Version: 0.2
Section: admin
Priority: optional
Maintainer: Ben de Graaff <ben@awoo.nl>
Architecture: amd64
Depends: libc6
Description: Config-driver certificate generation using the ACME protocol
